:root {
  --primary-color: #6f4e37c2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  transition: 0.5s;
}

.Navbare li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.5s;
  font-weight: bold;
  font-style: italic;
}

li:hover {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  border-radius: 3px;
}

li:hover a {
  color: rgb(255, 255, 255);

}

.Navbare li {
  width: 111%;
  position: relative;
  text-align: center;
  align-items: center;
  padding-top: 13px;
  height: 100%;
  transition: 0.5s;
}

.Navbare ul {
  height: 55px;
  left: 30%;
  width: 30%;
  position: relative;
  margin: 0;
  align-items: center;
}

.Navbare .serch {
  border-radius: 25px;
}

.Navbare .last-info {
  position: absolute;
  margin: 7px 55px;
}

.Navbare .ic {
  margin-top: 3%;
  margin-left: 5%;
  cursor: pointer;
  color: var(--primary-color);
}

.Navbare .ic2 {
  margin-top: 4%;
  margin-left: 25px;
  cursor: pointer;
  color: var(--primary-color);
}

.sectionL {
  padding: auto;
  width: 100%;
  background-image: url('./Images/Home\ 01\ -\ Hero\ Banner.png');
  background-repeat: no-repeat;
  height: 80vh;
}

.sectionL .info {
  position: relative;
  left: 15%;
  top: 30%;
}

.sectionL .samall-title {
  color: white;
  width: 50%;
}

.sectionL .got {
  color: white;
  font-style: italic;
  margin-top: 4%;
}

.btn-shop {
  padding: 9px 26px;
  color: var(--primary-color);
  min-width: 150px;
  border-radius: 8px;
  transition: 1s;
  border: solid 1.5px black;
}

.btn-shop:hover {
  background-color: var(--primary-color);
  font-style: oblique;
  color: aliceblue;
  border: solid 1.5px white;

}

.allbox1 .box img {
  width: 45%;
}

.allbox1 .box {
  padding: 30px 15px;
  margin: 15px;
  box-shadow: 0px 4px 1px #4f3b2e, 0px -3px 0px #4f3b2e;
  border-radius: 10px;
}

.allbox1 .btn-shop {
  padding: 9px 26px;
  border-radius: 8px;
  transition: 1.5s;
  background-color: var(--primary-color);
  color: wheat;
  border: solid 1px rgb(255, 255, 255);
}

.allbox1 .btn-shop:hover {
  background-color: white;
  color: black;
  color: var(--primary-color);
  border: solid 1px rgb(0, 0, 0);
}

.section2 {
  padding: auto;
  width: 100%;
  background-image: url('./Images/Home\ 02\ -\ Banner.png');
  background-repeat: no-repeat;
  height: 65vh;

}

.section2 .info {
  color: white;
  width: 20%;
  right: 10%;
  padding: 6px;
  top: 45%;
}

.allreview .review {
  min-width: 450px;
  overflow: hidden;
  padding: 23px;
  border: solid 1px coral;
  border-radius: 15px;
  margin-right: 25px;
  min-height: 220px;
  margin-bottom: 15px;
}

.allreview .review img {
  width: 45px;
  height: 45px;
}

.allreview {
  scroll-behavior: smooth;

}

.allreview::-webkit-scrollbar-track {
  background: rgba(255, 127, 80, 0.521);

  border-radius: 4px;
}

.allreview::-webkit-scrollbar {
  height: 10px;
}

.allreview::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
  border: 2px solid var(--primary-color);
}

.pay img {
  width: 100px;
  height: 100px;
}

.contacte {
  position: relative;
  background-image: url('./Images/Dz8gTbMVYAIM5uT.jpg');
  padding-top: 5px;
  padding: auto;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;


}


.contacte h4 {
  font-style: italic;
  color: white;
  text-shadow: 6px 6px 4px black;
}

.contacte .infocontacte {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  height: 67vh;
  top: -5px;
  position: relative;
}

.contacte h2 {
  color: var(--primary-color);
  text-shadow: 6px 6px 4px black;
  font-style: italic;

}

.contacte .btn-shop {
  width: 300px;
}

.contacte input {
  min-width: 350px;
}

.contacte textarea {
  min-width: 330px;
}

.cardshop {
  z-index: 1000;
  z-index: 1000;
  width: 26%;
  height: fit-content;
  box-shadow: 0px 4px 1px #4f3b2e, 0px -3px 0px #4f3b2e;
  border-radius: 18px;
  overflow: hidden;
  background-color: white
}

.cardshop .imgcofe {
  width: 145px;
  height: 145px;
  margin-bottom: 5px;
  border-radius: 85px;
  margin-bottom: 18px;
  padding: 2px;
}

.overflow {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1.5px);
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
}

.all-cart {
  width: 35%;
  height: fit-content;
  z-index: 2000;
  box-shadow: -4px 5px 7px #4f3b2e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;

}

.all-cart .cart {
  display: flex;
  padding: 1px;
  margin: 1px;
  border: solid 1px #4f3b2e7e;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  align-items: center;
  height: 60px;
}

.all-cart .cart img {
  width: 47px;
  height: 39px;
  margin-right: 10px;

}

.all-cart .cart .info-card {
  width: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 0.5s linear infinite;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-5px);
  }

  50% {
    transform: translate(5px);
  }

  75% {
    transform: translate(-5px);
  }

  100% {
    transform: translate(0);
  }

}

.shake {
  animation: shake 0.5s linear infinite;
}